head
  meta(charset="UTF-8")
  link( href="/base.css" rel="stylesheet")
  style.
    img {
      height: 100px;
    }
    .product {
      display: flex;
      flex-direction: row;
      background: linear-gradient( 26deg, #e61c5d, #ffbd39 );
      padding: 15px;
      border-radius: 5px;
      justify-content: center;
    }
    .price {
      font-family: Arial;
      font-size: 26px;
      margin-top: -10px;
    }
    .vert {
      display: flex;
      flex-direction: column;
    }
    a {
      padding-right: 10px;
    }
    .flow {
      display: flex;
      flex-flow: row wrap;
      gap: 40px;
      row-gap: 20px;
    }
    li {
      flex-grow: 4;
    }
    h1 {
      display: flex;
      justify-content: center;
    }
body
  h1 Store Locations
  ul.flow
    for store in storeLocations
      li
        a(href=`/storeLocation/${store.storeLocationId}`)
          div.product
            div.vert
              p=store.name

